* {
    font-size: 14px;
}

.admin {
    min-height: 100vh;
    width: 100vw;
}

#admin-panel {
    z-index: 20;
}

.admin-panel {
    left: 0;
    min-height: 100vh;
    border: none;

    .panel-header {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .panel-body {
        align-items: center;
        justify-content: center;

        & > .menu {
            background: transparent;
            border: none;
            box-shadow: none;
            min-width: auto;
    
            .menu-item {
    
                a {
                    color: #121212;
        
                    &:hover {
                        text-decoration: none;
                        color: $primary-color;
                    }
                }
            }    
        }
    }

    .avatar {
        margin: 10px 0;
    }

    .badge::after {
        box-shadow: none;
    }
}

.admin-grid {
    padding: 20px;
    grid-template-rows: repeat(7, 10vh);
    grid-template-columns: repeat(6, calc(100% / 7));
    grid-auto-rows: 10vh;
    grid-gap: 10px; 

    & > * {
        height: 100%;
        width: 100%;
    }
}

.outstanding-art,
.outstanding-writer,
.event-timer {
    grid-row: span 2;
    grid-column: span 2;
    background-color: #000;
}

.event-timeline,
.form-container {
    grid-row: 3 / span 6;
}

.form-container {
    grid-column: 1 / 5;

    .panel {
        border: none;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;

        height: 100%;

        .panel-body {
            width: 100%;
        }
    }

    form,
    textarea,
    .form-group {
        height: 100%;
        width: 100%;
    }

    .divider[data-content]::after {
        background: transparent;
        color: $primary-color;
    }

    textarea {
        resize: none;
    }
}

.event-timeline {
    grid-column: 5 / 7;

    .divider[data-content]::after {
        background: transparent;
        color: $primary-color;
    }

    .panel {
        max-height: 100%;
    }

    .panel-body {
        border-bottom: $secondary-color;

        .menu {
            box-shadow: none;
        }

        .audience {
            border-radius: 50%;
            height: 0.5rem;
            width: 0.5rem;
            top: 1px;
            right: 1px;
        }

        .audience[data-type="all"] {
            background: $success-color;
        }

        .audience[data-type="members"] {
            background: $success-color;
        }
    }
}

.section-header {
    padding: 15px 0;

    h1,
    .action {
        align-items: center;
        margin: 0;
    }
}

.list {
    padding: 0 10px;

    a:hover {
        text-decoration: none;
    }
}

.form form {
    width: 100%;
    height: 100%;

    textarea,
    .ck-editor__main,
    .ck-content {
        height: 200px;
        width: 100%;
    }
}

.modal {
    .modal-container {
        padding: 20px;

        .btn {
            padding: 5px 20px;
        }
    }
}