.icon {
    background-position: center;
    background-size: contain;
}

.icon-users {
    background-image: url('../icons/users.svg');
}

.icon-edit2 {
    background-image: url('../icons/edit.svg');
}

.icon-home {
    background-image: url('../icons/home.svg');
}

.icon-website {
    background-image: url('../icons/website.svg');
}

.icon-email {
    background-image: url('../icons/mail.svg');
}

.icon-dashboard {
    background-image: url('../icons/dashboard.svg');
}

.icon-calendar {
    background-image: url('../icons/calendar.svg');
}

.icon-logout {
    background-image: url('../icons/logout.svg');
}