main {
    width: 100vw;
    height: 100vh;
    
    justify-content: center;
    align-items: center;

}

.login-container {
    background-color: #fff;
    max-width: 700px;

    .card {
        height: 100%;
    }

    .card-image {
        height: 80%;
    }

    .logo {
        height: 100%;
    }
}