.about-us {
    h1 {
        position: relative;
        text-align: center;

        &::after {
            content: "";
            position: absolute;
            bottom: -20px;
            left: auto;
            width: 100px;
            border-top: 2px solid $lightPink;
        }
    }

    p {
        margin-top: 30px;
        text-align: center;
    }
}