
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Play:400,700|Sunflower:300,500,700');


// Variables
@import "variables";
@import 'icons';
@import 'spectre/src/spectre';
@import 'spectre/src/spectre-icons';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Sunflower', sans-serif;
  font-weight: 300;
  // color: $lightPeach;
  color: #121212;
}

body {
  background-color: #fff;
}

.svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-section {
  padding: 25px;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

.decorated-title {
  position: relative;
  display: flex;
  justify-content: center;
  text-transform: uppercase;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    width: 150px;
    height: 0;
    border-top: 1px solid $lightPink;
  }  
}
// @import 'menu';
@import 'aboutUs';
@import 'contact';
@import 'rocket';

@import 'login';
@import 'admin';