
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Play:400,700|Sunflower:300,500,700');


// Variables
@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Sunflower', sans-serif;
  font-weight: 300;
  color: $lightPeach;
}

html,
body,
main {
  background-color: #161616;
}

// Containers
main, 
.container {
  width: 100%;
}

.container {
  min-height: 100vh;
  padding: 30px 80px;
}

.btn {
  border: 1px solid $lightPink;
}

h1 {
  font-family: 'Play', sans-serif;
  font-size: 40px;
  margin-bottom: 30px;
}

// general styles

[class*="center"] {
  display: flex;
  justify-content: center;
  align-items: center;
}

[class*="around"] {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

[class*="vertical"] {
  flex-direction: column;
}

[class*="wrapper"] {
  flex-wrap: wrap;
}

@import 'home';
@import 'menu';
@import 'about';
@import 'rocket';
@import 'contact';