@keyframes takeoffAnimation {
    from {
        transform: translateY(0);
    } to {
        transform: translateY(-500px);
    }
}

@keyframes rocketBodyInitializing {
    from {
        transform: rotate(2deg);
    } to {
        transform: rotate(-2deg);
    }
}

@keyframes rocketFireInitializing {
    0% {
        transform: scale(0.5) translateY(5px);
    } 80% {
        transform: scale(0.75) translateY(5px);
    } 90% {
        transform: scale(0.7) translateY(5px);
    } 95% {
        transform: scale(0.75) translateY(5px);
    } 100% {
        transform: scale(0.5) translateY(5px);
    }
}

.rocket-wrapper {

    &.resting {
        .rocket-fire {
            visibility: hidden;
        }
    }

    &.initializing {
        .rocket-body {
            animation: rocketBodyInitializing .1s infinite;
            transform-origin: center;
            visibility: visible;
        }

        .rocket-fire {
            animation: rocketFireInitializing 3s infinite;
            transform-origin: center;
            transform: scale(1) translateY(10px);
        }
    }

    &.takeoff {
        animation: takeoffAnimation 3s ease-in;
    }

    &.abortTakeoff {

    }

}